@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #242F1F;
}

.pai{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgLogo{
    width: 45%;
}

h1{
    color: #94D058;
    margin-bottom: 2rem;
    font-size: 5vh;
}

.imgPrincipal{
    width: 80%;
    border-radius: 5px;
    margin-bottom: 2rem;
}

p{
    width: 80%;
    text-align: justify;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 2rem;
    font-weight: 500;
}

.btDownload{
    width: 80%;
    height: 45px;
    border-radius: 5px;
    background-color: #F1D5A6;
    margin-bottom: 1rem;
    border: none;
}

.labelDowload{
    color: #242F1F;
    font-size: 15px;
    font-weight: bold;
}

.btGuia{
    width: 80%;
    height: 45px;
    border-radius: 5px;
    background-color: #242F1F;
    margin-bottom: 2rem;
    border: 2px solid #F1D5A6;
}

.labelGuia{
    color: #F1D5A6;
    font-size: 15px;
    font-weight: bold;
}